@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    box-sizing: border-box;
    font-family: Quicksand;
}
.center {
    text-align: center;
}

/* styling header */
header {
    background-color: #e92e2e;
    padding: 5px;
    text-align: center;
    font-size: 20;
    color: white;
}
/* styling nav bar */
nav {
    float: left;
    width: 20%;
    height:400px;
    background: rgb(208, 205, 205);
    padding: 5px;
    border: 2px solid rgb(187, 187, 187);
}
/* styling list nav bar*/
ul {
    list-style: none;
    padding: 0;
    width: 100%;
    background-color: #f3f3f3;
}
li a {
    display: block;
    color: #000000;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #e92e2e;
    color: white;
}

li a:active {
    background-color:#b51010;
}

/* styling  isi content*/
article {
    float: right;
    padding: 10px;
    width: 80%;
    background-color: whitesmoke;
    height:400px;
    border: 2px solid rgb(187, 187, 187);
    
}
section{
    content: "";
    display: table;
    clear: both;
}
/* styling content */
footer {
    background-color: #e92e2e;
    padding: 10px;
    text-align: center;
    color: white;
}

/* responsive web */
@media (max-width: 800px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}